[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"
doit = "*"

[packages]
flask = "*"
flask-moment = "*"
flask-wtf = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
babel = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
